/* LandingPage.css  */

@import url('../css/fonts.css');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
}

.editor-page {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  x-overflow: hidden;
}

.banner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.editor-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: #000;
}

.editor-content {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
  background: #000;
  color: #fff;
  flex: 1;
}

@media screen and (max-width: 700px) {

    .editor-page {
        padding: 10px;
    }
}
